<table class="shappify_qb_grid table table-striped table-bordered with-row-borders">  
<thead>   
    <tr>    
    <th>Qty</th>    
    <th>Discount</th>   
    </tr>  
</thead>  
<tbody>     
<tr>    
    <td>Buy 10-19</td>    
    <td>5% Off</td>   
</tr>     
<tr>    
    <td>Buy 20-49</td>    
    <td>7.5% Off</td>   
</tr>     
<tr>    
    <td>Buy 50-99</td>    
    <td>10% Off</td>
</tr>
<tr>    
    <td>Buy 100+</td>    
    <td>15% Off</td>
</tr>
</tbody>
</table>