<a class="text-md text-gray-500 font-bold hover:text-blue-700 border border-gray-300 hover:border-blue-700 rounded px-4 py-4 h-12 block" href="/collections/all">
  {{ 'cart.general.continue_shopping' | t }}
</a>