<div class="px-3 py-2 bg-blue-100 border-2 border-blue-700 rounded mt-4 mb-4 leading-normal text-blue-700 text-md font-bold">
  Please note: <br/>
  <ul>
    <li>All pricing excludes GST.</li>
    <li>Loyalty and quantity discounts will be applied at point of invoice.</li>
    <li>Your account invoice will be forwarded with GST &amp; Freight charges included.</li>
  </ul>
</div>

<style type="text/css">
  .point-of-invoice-notice {
    margin: 17px 0;
    font-weight: bold;
    background: #d5ebff;
    padding: 13px 27px 0px 27px;
    border: 1px solid #bcdef9;
    color: #3F51B5;
    border-radius: 2px;
    line-height: 1.6;
  }
  .point-of-invoice-notice ul {
    margin-top: 0;
  }
</style>