<!--START BANNER-->
<div align="center" style="padding-top: 25px; background-color: none;">
	<div data="scmBannerSlider" data-id="12353" style="display: none; max-width: 1350px;"></div>
</div>
<!--END BANNER-->
{{ content_for_index }}