<div id="template.page.request-sample" class="text-blue-800">
  <section class="bg-gray-100">
    <div class="container mx-auto px-2 md:px-0 py-8">
      <div class="max-w-3xl mx-auto lg:pr-4 lg:mb-0">
        <h1 class="mt-0 font-black text-4xl mb-4 text-center">{{ page.title }}</h1>
        {% if page.content != blank %}
        <div class="page-description text-xl leading-normal text-center">
          {{ page.content }}
        </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="py-6 md:py-12">
    <div class="container mx-auto px-2 md:px-0">
      <div class="max-w-4xl mx-auto border border-gray-300 shadow-sm">
        <div class="px-6 py-6 md:px-12 md:py-12">
          <form id="sample-request-form">
            <div class="flex flex-row flex-wrap">
              <div class="w-full md:w-1/3 md:pr-4 text-lg">
                <div class="mb-8 font-bold leading-normal">
                  What sample product would you like?*
                </div>
              </div>
              <div class="mb-8 w-full md:w-2/3 md:pl-4">
                <label class="font-bold text-xs tracking-wide uppercase block mb-2 text-gray-500">Sample product
                  name*</label>
                <input class="py-4 px-5 text-lg border border-gray-400 rounded w-full" name="sample_product_name"
                  type="text" placeholder="Sample product name" required />
              </div>
            </div>
            {% include 'lead-capture-fields' %}
            <div class="flex flex-row flex-wrap">
              <div class="w-full md:w-1/3 md:pr-4 text-lg"></div>
              <div class="w-full md:w-2/3 md:pl-4">
                <button type="submit"
                  class="bg-primary text-white text-xl font-bold py-4 px-12 rounded w-64 mx-auto block shadow-lg hover:opacity-75 disabled:opacity-50">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    console.log("[Request Sample Pack] Page is ready");
    $("#sample-request-form").on("submit", function (event) {
      event.preventDefault();

      // Convert serialised data into indexed array
      console.log("[Request Sample Pack] Serialised form data:", $(this).serializeArray());
      var unindexed_array = $(this).serializeArray();
      var indexed_array = {};

      $.map(unindexed_array, function (n, i) {
        var label = n["name"];
        var labelLast2 = label.slice(-2);
        var value = n["value"];

        if (labelLast2 === '[]') {
          var labelWithoutBrackets = label.slice(0, label.length - 2);
          indexed_array[labelWithoutBrackets] = indexed_array[labelWithoutBrackets] || [];
          indexed_array[labelWithoutBrackets].push(value);
        } else {
          indexed_array[label] = value;
        }
      });

      console.log("[Request Sample Pack] Indexed array:", indexed_array);

      // Disable all fields and button before submission
      var submitButton = $(this).find('button[type=submit]').attr('disabled', true).css('cursor', 'wait');
      var allInputFields = $(this).find('input').attr('disabled', true).css('cursor', 'wait');
      var allTextareaFields = $(this).find('textarea').attr('disabled', true).css('cursor', 'wait');

      // Submit
      $.post("/apps/rowmarknz-backend/form", {
        formSubmission: {
          formName: 'Sample requests',
          formContent: indexed_array
        }
      }).done(function (result) {
        console.log("[Request Sample Pack] Done submit!", result);
        window.location = '/pages/form-submission-thankyou';
      })
    });
  })
</script>